<h1> Links </h1>

<ul id='links'>
  <% p @links.each do |link| link.tags.first.name == 'entertainment' # I give up you figure this out!!!!!!%>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
    </li>
  <% end %>
</ul>
