<form action="/links" method="post" id="form1">
      Site Name:
    <input type="text" name="site_name">
      Site URL:
    <input type="text" name="site_url">
      Tags:
    <input type="text" name="tag">
</form>

<button type="submit" form="form1" value="Add link"> Add link </button>
