<form action="/create_user" method="post" id="form2">
      Email
    <input type="text" name="email">
      Password
    <input type="text" name="password">
</form>

<button type="submit" form="form2" value="Create Account"> Create Account </button>
